# Function
### Print ชื่อ นามสกุล รหัส
### Print เกรด วิชา stat 1 >> A

In [16]:
q = 'ชื่อ ศุภนิตา สกุล ดาดวน รหัส 603021129-1'
print(q)

ชื่อ ศุภนิตา สกุล ดาดวน รหัส 603021129-1

In [2]:
name = 'ศุภนิตา'
surname = ' ดาดวน'
ID = '603021129-1'
x = f'=ชื่อ{name} นามสกุล {surname} รหัส {ID}'

ชื่อ ศุภนิตา สกุล ดาดวน  รหัส 603021129-1

~~~ python
 def function_name(x):
        do something
        return y
~~~

### normal function

In [14]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [15]:
print(print_line1('ศุภนิตา','ดาดวน','603021129-1'))

ชื่อ ศุภนิตา นามสกุล ดาดวน รหัส 603021129-1

### function without output

In [17]:
def print_twoline(name1,surname1,ID1,grade):
    st1 = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print (st1)
    st2 = f'เกรดวิชา stat 1 >> {grade}'
    print (st2)

function พิเศษของ python คือไม่จำเป็นต้องมี input,output

In [25]:
print_twoline('ศุภนิตา','ดาดวน','603021129-1','A')

ชื่อ nita นามสกุล D รหัส 603021129-1
เกรดวิชา stat 1 >> A

In [27]:
print_twoline('ทรงกลด','อาจปา','603021864-1','A')
print_twoline('กัญญรินท์','อินทจันร์','603021854-4','A')
print_twoline('ภูวนัตถ์','จันทกล','603021111-0','A')

ชื่อ ทรงกลด นามสกุล อาจปา รหัส 603021864-1
เกรดวิชา stat 1 >> A
ชื่อ กัญญรินท์ นามสกุล อินทจันร์ รหัส 603021854-4
เกรดวิชา stat 1 >> A
ชื่อ ภูวนัตถ์ นามสกุล จันทกล รหัส 603021111-0
เกรดวิชา stat 1 >> A

## Error can find in python

In [51]:
def print_twoline(name1,surname1,ID1,grade):
    st1 = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print (st1)
    st2 = f'เกรดวิชา stat 1 >> {grade}'
     print (st2)

IndentationError: unexpected indent (<ipython-input-51-c453093d49b7>, line 5)

IndentationError: unexpected indent (เว้นวรรคผิด )

In [30]:
def print_twoline(name1,surname1,ID1,grade):
    st1 = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st1
    st2 = f'เกรดวิชา stat 1 >> {grade}'
    print (st2)
print_twoline('ศุภนิตา','ดาดวน','603021129-1','A')

'ชื่อ ศุภนิตา นามสกุล ดาดวน รหัส 603021129-1'

สั่งผิดและ function จบก่อน ปรินท์ เกรด

### function without input

In [32]:
def noinput():
    x =2*3
    return x
noinput()

6

### function with defult argument

In [46]:
def print_twoline_defult(name1,surname1,ID1,grade='F'):
    st1 = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print (st1)
    st2 = f'เกรดวิชา stat 1 >> {grade}'
    print (st2)

In [47]:
print_twoline_defult('ศุภนิตา','ดาดวน','603021129-1')

ชื่อ ศุภนิตา นามสกุล ดาดวน รหัส 603021129-1
เกรดวิชา stat 1 >> F

In [48]:
print_twoline_defult('ศุภนิตา','ดาดวน','603021129-1','A')

ชื่อ ศุภนิตา นามสกุล ดาดวน รหัส 603021129-1
เกรดวิชา stat 1 >> A

สามารถสลับ output ได้ ถ้ารู้ว่า input คืออะไร

In [50]:
print_twoline_defult(surname1 = 'ดาดวน' ,name1 = 'ศุภนิตา',ID1 = '603021129-1')

ชื่อ ศุภนิตา นามสกุล ดาดวน รหัส 603021129-1
เกรดวิชา stat 1 >> F

### Loop(วนซ้ำ)

```python
for each_member in listx:
    do something
```

In [53]:
for i in[1,2,3]:
    print (i)

1
2
3

In [55]:
for i in'supanita':
    print (f'{i}->/')
    print ('  ')

s->/

u->/

p->/

a->/

n->/

i->/

t->/

a->/

### loop in loop

In [174]:
listme = ['บอส','นัท','ไอซ์','โด้','แบงค์','ไอซ์','ฟาง','เกต']

In [193]:
def print_feeling(I,feel,friends):
        print(f'{I} {feel} {friends}')

In [195]:
for name1 in listme:
    for name2 in listme:
        print_feeling(name1,'luv',name2)

บอส luv บอส
บอส luv นัท
บอส luv ไอซ์
บอส luv โด้
บอส luv แบงค์
บอส luv ไอซ์
บอส luv ฟาง
บอส luv เกต
นัท luv บอส
นัท luv นัท
นัท luv ไอซ์
นัท luv โด้
นัท luv แบงค์
นัท luv ไอซ์
นัท luv ฟาง
นัท luv เกต
ไอซ์ luv บอส
ไอซ์ luv นัท
ไอซ์ luv ไอซ์
ไอซ์ luv โด้
ไอซ์ luv แบงค์
ไอซ์ luv ไอซ์
ไอซ์ luv ฟาง
ไอซ์ luv เกต
โด้ luv บอส
โด้ luv นัท
โด้ luv ไอซ์
โด้ luv โด้
โด้ luv แบงค์
โด้ luv ไอซ์
โด้ luv ฟาง
โด้ luv เกต
แบงค์ luv บอส
แบงค์ luv นัท
แบงค์ luv ไอซ์
แบงค์ luv โด้
แบงค์ luv แบงค์
แบงค์ luv ไอซ์
แบงค์ luv ฟาง
แบงค์ luv เกต
ไอซ์ luv บอส
ไอซ์ luv นัท
ไอซ์ luv ไอซ์
ไอซ์ luv โด้
ไอซ์ luv แบงค์
ไอซ์ luv ไอซ์
ไอซ์ luv ฟาง
ไอซ์ luv เกต
ฟาง luv บอส
ฟาง luv นัท
ฟาง luv ไอซ์
ฟาง luv โด้
ฟาง luv แบงค์
ฟาง luv ไอซ์
ฟาง luv ฟาง
ฟาง luv เกต
เกต luv บอส
เกต luv นัท
เกต luv ไอซ์
เกต luv โด้
เกต luv แบงค์
เกต luv ไอซ์
เกต luv ฟาง
เกต luv เกต

## Excercise
#### 1 สร้าง list ชื่อ เพื่อที่อยู่ในแถว(ยาว) เดียวกัน

In [60]:
listme = ['บอส','นัท','ไอซ์','โด้','แบงค์','ไอซ์','ฟาง','เกต']

#### 2 วนลูป print ประโยคว่า ชื่อเรา รัก เพื่อน

In [187]:
for i in listme:
    print (f'นกยูง มา {i}')

นกยูง มา บอส
นกยูง มา นัท
นกยูง มา ไอซ์
นกยูง มา โด้
นกยูง มา แบงค์
นกยูง มา ไอซ์
นกยูง มา ฟาง
นกยูง มา เกต

## This is correct
สร้าง output ออกมา

In [128]:
def printfeel(name,feel,friend):
    s = f'{name} {feel} {friend}'
    print (s)
printfeel('นกยูง','รัก','บอส')

นกยูง รัก บอส

สร้างลูปชื่อเพื่อน จาก listme

In [125]:
for i in listme:
    printfeel ('นกยูง','รัก',i)

นกยูง รัก บอส
นกยูง รัก นัท
นกยูง รัก ไอซ์
นกยูง รัก โด้
นกยูง รัก แบงค์
นกยูง รัก ไอซ์
นกยูง รัก ฟาง
นกยูง รัก เกต

#### loop in function(by A.ton)

In [140]:
def printfeeling1(name,feel,friend):
    for i in friend:
        print(f'{name} {feel} {i}')

In [142]:
printfeeling1('นก','รัก',listme)

นก รัก บอส
นก รัก นัท
นก รัก ไอซ์
นก รัก โด้
นก รัก แบงค์
นก รัก ไอซ์
นก รัก ฟาง
นก รัก เกต

In [148]:
def printfeeling2(name,feel,friend):
    for i in ['บอส','นัท','ไอซ์','โด้','แบงค์','ไอซ์','ฟาง','เกต','yunki']:
        print(f'{name} {feel} {i}')

In [152]:
printfeeling2('นก','มาหา',i)

นก มาหา บอส
นก มาหา นัท
นก มาหา ไอซ์
นก มาหา โด้
นก มาหา แบงค์
นก มาหา ไอซ์
นก มาหา ฟาง
นก มาหา เกต
นก มาหา yunki

## loop in dict

In [167]:
name_G = {'No.1':'B','No.2':'C','No.3':'A','No.4':'F'}
name_G

{'No.1': 'B', 'No.2': 'C', 'No.3': 'A', 'No.4': 'F'}

In [168]:
name_G['No.2']

'C'

In [169]:
name_G.keys()

dict_keys(['No.1', 'No.2', 'No.3', 'No.4'])

In [170]:
for x in name_G.keys():
    print (x)

No.1
No.2
No.3
No.4

In [173]:
for x in name_G.keys():
    print(f'{x} ได้เกรด {name_G[x]}')

No.1 ได้เกรด B
No.2 ได้เกรด C
No.3 ได้เกรด A
No.4 ได้เกรด F

## Conditional(เงื่อนไข)

``` python
if condition1:
    do something
elif condition2:
    do another thing
else:
    do last thing
```
### จากเรื่อง loop in loop

In [197]:
Nita =['minYG','kimNJ','kimSJ','parkJM','jungHS','kimTH','joenJK']

In [198]:
for name1 in Nita:
    for name2 in Nita:
        if name1 != name2:
             print_feeling(name1,'luv',name2)

minYG luv kimNJ
minYG luv kimSJ
minYG luv parkJM
minYG luv jungHS
minYG luv kimTH
minYG luv joenJK
kimNJ luv minYG
kimNJ luv kimSJ
kimNJ luv parkJM
kimNJ luv jungHS
kimNJ luv kimTH
kimNJ luv joenJK
kimSJ luv minYG
kimSJ luv kimNJ
kimSJ luv parkJM
kimSJ luv jungHS
kimSJ luv kimTH
kimSJ luv joenJK
parkJM luv minYG
parkJM luv kimNJ
parkJM luv kimSJ
parkJM luv jungHS
parkJM luv kimTH
parkJM luv joenJK
jungHS luv minYG
jungHS luv kimNJ
jungHS luv kimSJ
jungHS luv parkJM
jungHS luv kimTH
jungHS luv joenJK
kimTH luv minYG
kimTH luv kimNJ
kimTH luv kimSJ
kimTH luv parkJM
kimTH luv jungHS
kimTH luv joenJK
joenJK luv minYG
joenJK luv kimNJ
joenJK luv kimSJ
joenJK luv parkJM
joenJK luv jungHS
joenJK luv kimTH

#### การเช็คเงื่อนไข

In [199]:
if True:
    print('Yes')
if False:
    print('No')

Yes

ถ้าข้างหลังเป็นเท็จ จะเด้งออกไปเลย(ไม่ปรินท์) เช่น

In [200]:
if False:
    print('Yes')
else:
    print('No')

No

In [202]:
1 == 1

True

In [203]:
if 1 == 1:
    print('1=1')

1=1

``` python
เครื่องหมายที่นิยมใช้กับ condition
== checkว่าเท่ากันไหม ถ้าเท่ากันจะตอบว่าจริง(True)
!= checkว่าไม่เท่ากันไหม ถ้าไม่เท่ากันจะตอบว่าจริง(True)
>= checkว่ามากกว่าไหม
<= checkว่าน้อยกว่าจริงไหม
>,< checkว่าผ่านเงื่อนไขหรือเปล่า
```

## Assignment
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน0-100 output เป็นเกรดF-A
< 50 F >=50 D

input = [1,50,65,90,101,-5,49]

In [11]:
gg = [1,50,65,90,101,-5,49]

In [12]:
for a in gg:
    if a > 100:
        print ('Grade is ERROR')
    elif a > 79:
        print ('Grade is A')
    elif a > 74:
        print ('Grade is B+')
    elif a > 69:
        print ('Grade is B')
    elif a > 64:
        print ('Grade is C+')
    elif a > 59:
        print ('Grade is C+')
    elif a > 54:
        print ('Grade is D+')
    elif a > 49:
        print ('Grade is D')
    elif a > 0:
        print ('Grade is F')
    else:
        print ('Grade is ERROR')

Grade is F
Grade is D
Grade is C+
Grade is A
Grade is ERROR
Grade is ERROR
Grade is F

                                ~~~~~~~~~~ END ~~~~~~~~~~